{% extends 'base.html.twig' %}

{% block title %}Список уроков{% endblock %}

{% block body %}
    <h1>Список уроков</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Содержимое</th>
            <th>Порядковый номер</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.name }}</td>
                <td>{{ lesson.content }}</td>
                <td>{{ lesson.number }}</td>
                <td>
                    <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">Просмотреть</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}